.navButton:hover {
    -fx-fill: #c9c9c9;
}

.clickButton {
    -fx-background-color: #1f1f1f
}

.clickButton:hover {
    -fx-background-color: #797979;
}

.nextButton:hover {
    -fx-fill: #383838;
}

.general{
    -fx-background-color: radial-gradient(center 50% 50%, radius 70%, rgba(150,24,28,255) 52%, rgba(104,0,1,1) 88%);
}